{% extends 'myApp/base.html' %}
{% block content %}

<!-- Header-->
<header class="py-5" style="background-color: #6f42c1;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Floral Threads</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <centre>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                Welcome to Floral Threads Founded in 2024, we started with a 
                simple goal: to bring 
                 high-quality, eco-friendly products,style and fashionable outfits to customers who value 
                 sustainability,innovation and style.From our early days of
                  packing orders from our small home office to becoming a
                  trusted source for eco-friendly beauty essentials, we've loved every step of the journey.  
                </p>
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <br/><br/>
                <br/><br/>

                </div>
        </centre>
    </div>
</div>
{% endblock %}